.idea
/etc
/var
/*backup.tgz
/doc
/man
/html
/pdf
__pycache__
*.stackdump
/gnome-keyring-daemo.core
.vscode
/usr
*ylsjs*
*ylacd*
*log
*tmp*
/.vs
/venv
/.git
*.pyc
.project
.cproject
*.out
*.co
*.cbp
*.layout
