/etc
/var
/*backup.tgz
/usage
/man
/html
/pdf
__pycache__
*.stackdump
/gnome-keyring-daemo.core
.vscode
/usr
*log
*tmp*
.vs
/venv
/.git
*.pyc
.project
.cproject
*.out
*.co
*.cbp
*.bak
*.layout
/Makefile
CppProperties.json
