# Project files
/etc
/var
/*backup.tgz
/share
/usr
__pycache__
*log
*tmp*
*.co
.scannerwork

# System files
*.stackdump
/gnome-keyring-daemo.core
.vscode
.vs
/venv
/.git
*.pyc
.project
.cproject
*.out
*.cbp
*.bak
*.layout
/GNUmakefile
CppProperties.json

# For compability
/doc
/usage
/html
/pdf
/man
/Makefile

# Fake files under BSD
/bin/readlink
